@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
    --font-title: "Instrument Sans";
}

:root {
    --hero-filter-invert: invert(0);
}

.hero-background {
    @apply fixed top-0 left-0 w-screen h-screen -z-10;
    filter: var(--hero-filter-invert);
}

body {
    @apply text-white;
}

body:after {
    content: "";
    @apply absolute left-0 top-0 w-full h-full pointer-events-none z-[1000];
    background-image: url('scan.png');
    background-repeat: repeat;
    background-position: 0px 0px;
    animation-name: Static;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

@keyframes Static {
    0% { background-position: 0px 0px; }
    100% { background-position: 0px 4px; }
}

/* Disable the scanline overlay specifically inside Storybook */
body.sb-show-main:after {
    display: none !important;
}
