set timeout=60
menuentry 'RHEL-WORKER' {
    linuxefi images/RHEL-WORKER/vmlinuz ip=dhcp inst.stage2=http://192.168.0.151/iso_web/ inst.ks=http://192.168.0.151/iso_web/osbuild.ks
    initrdefi images/RHEL-WORKER/initrd.img
}
